
<form (ngSubmit)="login()" class="flip-card__form" action="">
    <div class="login-container">
  <div class="login-card">
    <div class="login-title">
      <span class="login-text">Login</span>
    </div>
    <div class="login-form">
      <div class="input-group">
        <input [(ngModel)]="usuario" class="flip-card__input" name="usuario" placeholder="Usuario" type="usuario">
      </div>
      <div class="input-group">
        <input [(ngModel)]="password" class="flip-card__input" name="password" placeholder="Password" type="password">
      </div>
      <button class="login-btn" type="submit">ENTER ZONE</button>
    </div>
  </div>
</div>
</form>
@if(error){
<div class="error">{{error}}</div>
}


